.dot-container {
  --coantainer-size: 200px;
  width: var(--coantainer-size);
  height: var(--coantainer-size);
  position: relative;
  transform-origin: center;
  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot {
  --base: 50%;
  --position: 40%;
  --dot-size: 35px;
  --duration: 1s;
  --delay: 0.1s;

  width: var(--dot-size);
  height: var(--dot-size);
  background-color: orange;
  box-sizing: border-box;
  border-radius: calc(var(--dot-size) / 2);
  position: absolute;

  top: calc(
    var(--base) + var(--position) * calc(sin(360deg / 8 * var(--index)))
  );
  left: calc(
    var(--base) + var(--position) * calc(cos(360deg / 8 * var(--index)))
  );

  translate: -50% -50%;

  animation: dot var(--duration) calc(var(--index) * var(--delay)) ease-in-out
    infinite;
}

@keyframes dot {
  50% {
    transform: scale(0.7);
    background-color: orangered;
  }
}
